.banner {
  background-image: url(../../images/keyboard.jpg);
  background-size: cover;
  background-position: center;
}

.banner .container {
  padding: 50px 0px;
  color: white;
  text-shadow: 1px 1px 1px black;
}
